tr(class="event")
  td.event_name 
    a(href='/event/'+event._id, title=event.name) #{event.name}
  td.event_date
    = event.date
  td
    a(href='/event/'+event._id+'/edit', title="edit") Edit
    &nbsp;
    a(class='destroy', href="/event/"+event._id, title="delete") Del