h2= title
p Edit event

form(method="post", action="/events/#{event._id}", enctype="multipart/form-data")
  input(name="_method", value='PUT', type='hidden')

  != partial('_form')
  
  &nbsp;
  a(href="/events", title="[back to events]") [all events]