!= messages()
- var is_admin = (everyauth.loggedIn && everyauth.user.is_admin)

h2= title

ul.no-bullets.items#events
  if(events.length)
    != partial('_event_list', {collection: events, as: 'event'})
  else
    #no-results No events found. 

  if (is_admin)
    a(href='/events/new') Create one here.
