div.footer

script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js')
script(type='text/javascript', src='/js/3rd/highcharts.js')
script(type='text/javascript', src='/js/charts.js')
script(type='text/javascript', src='/js/delete.js')
script(type='text/javascript', src='/js/form-helpers.js')
script(type='text/javascript', src='/js/tilt.js')

// TODO: figure out how to support compressed assets in Zombie
// Update zombie when they support compressed assets
//!= js('tilt')
