head
  title= title
  meta(http-equiv='Content-type', content='text/html;charset=UTF-8')
  meta(name="keywords", content="tilt, tiltnyc")
  meta(name="description", content="tilt")
  link(rel='stylesheet', href='/stylesheets/style.css')
  link(rel='stylesheet', href='/stylesheets/users.css')
  link(rel='stylesheet', href='/stylesheets/investments.css')
  link(rel='stylesheet', href='/stylesheets/jQuery/jquery-ui-1.8.17.custom.css')