- var is_admin = (everyauth.loggedIn && everyauth.user.is_admin)

tr(class="competitor")
  td.competitor_event= currentEvent.name
  td.competitor_username= aCompetitor.user.username
  if (is_admin)
    td.competitor_funds
      each fund in aCompetitor.funds
        $
        =Math.round(fund)
  td.competitor_team
    - if (aCompetitor.team)
      a(href='/team/'+aCompetitor.team.id, title=aCompetitor.team.name) #{aCompetitor.team.name}
    - else
      &nbsp;
  if (is_admin)
    td
      a(class='destroy', href="/competitor/"+aCompetitor.id, title="delete") Del