!= messages()

h2= title

p
  strong event &nbsp
  span= event.name


if (typeof(competitor) == 'undefined')
  form(method="post", action="/competitor/create")
    span you're not competing in this event 
    button so join it now!
else 
  p
    strong current round:
    if (currentRound)
      span #{currentRound.number}

  p
    strong status: &nbsp
    if (currentRound && currentRound.is_open)
      span.open-round  open
    else
      span.closed-round closed

  p
    strong funds this round
    if (currentRound && competitor.getFundsForRoundNbr(currentRound.number))
      span &nbsp $#{competitor.getFundsForRoundNbr(currentRound.number).toFixed(2)}
    else
      span &nbsp $0

  table#user-transactions.inner-table
    tr
      th.header(colspan=3)
        &nbsp transactions
    tr
      th round
      th label
      th amount
     != partial('../transactions/transaction_list', {collection: competitor.transactions, as: 'transaction'})

  table#user-investments.inner-table
    tr
      th.header(colspan=3)
        &nbsp investments
    tr
      th round
      th team
      th percentage

     != partial('../investments/investment_list', {collection: competitor.investments, as: 'investment'})