!= messages()
- var is_admin = (everyauth.loggedIn && everyauth.user.is_admin)

h2= title

div.people#competitors
  - if(competitors.length)
    != partial('competitor_list', {collection: competitors, as: 'aCompetitor'})
  - else
    #no-results No competitors found.