doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml', lang="en", xml:lang="en")
  != partial('../includes/head')
  body

    div.container-fluid.nav-container
      div.navbar
        div.logo-container(align="center")
          img(src="static/images/logo.png", class="logo")
    
        .navbar-inner
          .nav-collapse.collapse
            ul.nav
              li
                a(href="#",class="active") Home
              li
                a(href="#", style="margin-right: 100px") How it works
              li
                a(href="#") Teams
              li
                a(href="#") Events
              li
                a(href="#", class="btn btn-small" style="margin-top: 0px;color: white;text-shadow: none;") Join our newsletter &nbsp »
              
          .btn-navbar.homepage(data-toggle="collapse", data-target=".nav-collapse")
            select(style="width: 150px;")
              option
                a(href="#") hasdflkasf
            
    .container-fluid
      .row-fluid(style="border-top: 1px solid white;")
        .span8(style="background: #007DC3; height: 450px;")
          img(src="static/images/main-headline.png", class="main-headline")
          a(href="#", class="btn btn-large btn-primary homepage") Apply to join »
    
        .span4 video-placeholder">
          h2(style="color: white; margin-top: 70px;") Watch the video
    
    .container
      .row
        .span12
          h2 How it works
      .row
        .span6
          h2 Testimonials
          hr
          h2 Organizers
  
        .span6
          h2 Past &amp; Present Mentors
      .row
        .span12
