doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml', lang="en", xml:lang="en")
  != partial('../includes/head')
  body

    .container-fluid.nav-container
      .navbar
        .logo-container(align="center")
          img(src="/images/logo.png", class="logo")
    
        .navbar-inner
          .nav-collapse.collapse
            ul.nav
              li
                a(href="/",class="active") Home
              li
                a(href="#", style="margin-right: 100px") How it works
              li
                a(href="#") Teams
              li
                a(href="/events") Events
              li
                a(href="#", class="btn btn-small", style="margin-top: 0px;color: white;text-shadow: none;") Join our newsletter &nbsp »
              
          .btn-navbar.homepage(data-toggle="collapse", data-target=".nav-collapse")
            select(style="width: 150px;")
              option
                a(href="#") hasdflkasf
            
    != body

    != partial('../includes/foot')
