!= messages()

h2= title

- var is_admin = (everyauth.loggedIn && everyauth.user.is_admin)
div.people#teams
  if(teams.length)
    != partial('team_list', {collection: teams, as: 'team'})
  else
    #no-results No teams found. 
  
if (is_admin)
  a(href='/teams/new') create new