!= messages()

h2 Team details

p 
  strong name 
  &nbsp; #{team.name}

p
  strong users
  - if (team.users.length > 0)
    ul
      each aUser in team.users
        li 
          a(href='/user/' + aUser.id, title='view user') #{aUser.username}
  - else
    span#unassigned &nbsp none assigned

p
  a(href='/team/'+team._id+'/edit', title="edit") Edit
  &nbsp;
  a(class='destroy', href='/team/'+team._id, title="delete") Delete
  &nbsp;
  a(href='/teams', title="back") Back
