- var is_admin = (everyauth.loggedIn && everyauth.user.is_admin)

!= messages()

h2 Team details

.single-item
  img(src=team.picture, width=250)
  h2= team.name
  span.tagline #{team.tagline}
  div.desc= team.desc

p
  strong members
  div.people
    if (team.competitors.length)
      != partial('../competitors/competitor_list', {collection: team.competitors, as: 'aCompetitor'})
    else
      span#unassigned &nbsp none assigned

br(clear="all")

if (is_admin)
  p
    a(href='/team/'+team._id+'/edit', title="edit") Edit
    &nbsp;
    a(class='destroy', href='/team/'+team._id, title="delete") Delete
    &nbsp;
    a(href='/teams', title="back") Back