tr(class="team") 
  td
    a(href='/team/'+team._id, title=team.name) #{team.name}

  td
    each user in team.users
      #{user.username},
  
  td
    #{team.users.length}
       
  td 
    a(href='/team/'+team._id+'/edit', title="edit") Edit
    &nbsp;
    a(class='destroy', href="/team/"+team._id, title="delete") Del