tr(class="team") 
  td
    a(href='/team/'+team._id, title=team.name) #{team.name}

  td
    each aUser in team.users
      a(href='/user/' + aUser.id, title='view user') #{aUser.username}
  
  td
    #{team.users.length}
       
  td 
    a(href='/team/'+team._id+'/edit', title="edit") Edit
    &nbsp;
    a(class='destroy', href="/team/"+team._id, title="delete") Del