!= messages()

h1= title
p Welcome to #{title}

if (everyauth.loggedIn)
  if (typeof(theInvestor) != "undefined")
    a(href='/investment/new', title='new investment') invest in a team

else
  a(href='/login', title='login') login to your account
