.rounds
  ul
    display inline-block
    padding-left 1em

    li
      display inline-block
      list-style-type none
      margin-right 1em

ul#team-list
  padding 0
  width 70%
  > li
    border-bottom 1px solid #aaa
    list-style-type none
    margin-bottom 1em

    .team-name
      font-weight bold
    
    ul.percentage-slider-container
      float right
      width 21em
      
      li 
        display inline-block
      li.percentage-slider
        min-width 15em
      li.percentage-slider-amount
        font-size 0.75em
        text-align right
        font-weight bold
        width 5em

#invested
  width 70%
  text-align right