.rounds
  ul
    display inline-block
    padding-left 1em

    li
      display inline-block
      list-style-type none
      margin-right 1em

ul#team-list
  padding 0
  width 70%
  > li
    border-bottom 1px solid #aaa
    list-style-type none
    margin-bottom 1em

    .team-name
      font-weight bold
    

ul.percentage-slider-container
  float right
  width 20em
  
  li 
    display inline-block
  li.percentage-slider
    min-width 10em
  li.percentage-slider-amount
    text-align right
    font-weight bold
    width 5em    

#total-invested
  font-weight bold
  font-size 125%