#rounds
  padding 0

  li.round.open-round
    background-color lime
  li.round.closed-round
    background-color pink
  li.round.current-round
    background-color #999
  li.round
    padding 1em
    list-style-type none
    display inline-block
    margin-right 2em
    text-align center
    border 1px solid #aaa
    width 20% 
    vertical-align top
    h5
      font-size 1.1em
      border-top 1px solid #aaa
      border-bottom 1px solid #aaa
      margin 0 0 1em 0

    .round-contents
      color #666
      font-size 0.8em

      input
        display inline
        width 5em
        padding 0.1em