html, body
  width 100%
  height 100%

body
  background-color #f9f9f9
  font-family "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif
  font-size 15px
  color #444
  margin 0px
  text-transform lowercase
  
a img
  border none

a, a:hover
  color #369
  text-decoration none

a:hover
  text-decoration underline

.clear
  clear both
  height 0
  overflow hidden

#container
  width 75%
  margin 0 auto
  background-color #FFF
  padding 20px 40px
  border solid 1px #eee
  margin-top 20px

#user_nav
  float right
  font-size 14px

#messages .notice, #messages .error
  padding 15px
  margin 10px 0
  list-style none

#messages .notice
  background-color #FEEFB3
  border 1px solid #ffe26f
  color #9F6000

#messages .error
  background-color #f9e5e0
  border 1px solid #ffd0c4
  color #A30000

#logo
  float left

#logo h1 a
  color #333
  text-decoration none

input[type=text], input[type=password], textarea
  border 0
  border 1px solid #ccc
  padding 5px
  font-family "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif
  font-size 14px
  color #444

input[type=text]:focus, input[type=password]:focus, textarea:focus
  border 1px solid #aaa

*
  outline none

.twitter-follow-button
  width 140px !important

.follow-me
  padding 0 0px 0px 0
  position absolute
  margin-left 850px
  margin-top 50px

.article
  padding 15px
  border-bottom 1px solid #e0e0e0
  &.last
    border-bottom 0

.article_body
  padding 5px 0

.article_title
  font-size 16px
  font-weight bold

.article_date
  color #aaa
  font-size 12px

textarea, input[type=text]
  width 300px

textarea
  height 200px

.let-me-know
  color #999
  font-size 13px
  font-weight normal

#no-results
  padding 30px
  text-align center

#content
  padding 1em
  form
    label
      display inline-block
      vertical-align top
      width 12em
      font-weight bold
    textarea  
      min-height 4em
      min-width 40em
      font-size 0.8em

#logo
  position absolute
  right 1em
  bottom 0
  opacity 0.25

ul#top-nav
  margin 0px
  padding 1em
  background #003
  border 1px solid #aaa

  li
    display inline-block
    list-style-type none
    margin-right 1em
    
    &.event-name
      h4
        margin 0
  a
    color yellow

  #login-bar
    float right

    a
      color lime

.helper-text
  color #ccc
.error-text
  color red

ul.no-bullets
  margin 0
  padding 0
  > li
    padding 1em
    padding-left 0
    list-style-type none
 
 ul.inline
  margin 0 0 1em 0
  padding 0
  > li
    padding 0
    display inline-block
.li-link
  display block

ul.items
  > li 
    overflow hidden
    h2
      margin 0
    > a > img, > div 
      float left
    > div
      margin-left 1em
  > li:nth-child(odd)
    background-color #eee

.single-item
  overflow hidden
  h2
    margin 0
  > img
    float left
    margin-right 1em

button
  font-size 100%
  padding 0.3em
  cursor pointer
  &:hover
    opacity 0.8
  &.submit
    margin 1em 0em

.people
  clear all
  label
    width auto !important
  > div
    float left 
    width 300px
    min-height 200px
    > div
      float left
      font-size 0.85em
      margin-left 1em
    > img, > label, > a > img
      float left

.dashboard .item
  float left
  margin-right 1em
.spacer
  height 100px

.bottom-logo
  position fixed
  bottom 63px
  left 50%
  height 50px
  width 200px
  margin-left: -100px
  background url('/images/logo.png') bottom center fixed no-repeat

.footer
  position fixed
  bottom 0
  width 100%
  height 63px
  text-align right

  vertical-align top
  background black url('/images/logo.png') center -58px no-repeat
  .social
    position relative
    height 100%
    text-align right
    iframe
      float right
      margin-top 15px