.results table {
  background-color: #ddd;
  width: 100%;
}
.results table tr.heading {
  background-color: #000;
  color: #ffa500;
}
.results table td {
  padding: 0.5em;
  text-align: center;
}
.results table li {
  width: auto;
}
.positive {
  color: #008000;
  font-weight: bold;
}
.negative {
  color: #f00;
  font-weight: bold;
}
