!= messages()

h2= title

div 
  != partial('../rounds/current_round')

if (!currentRound || (currentRound.number == 1 && !currentRound.processed))
  p.error-text 
    strong note: 
    span initial round not yet processed
else if (results[0])
  ul.results
    != partial('result_list', {roundResults: results[0]})

h2 past rounds
- if(results.length)
    ul.results
      - results.shift()
      != partial('result_list', {collection: results, as: 'roundResults'})
