!= messages()


if(results.length)
  h2 past rounds
  ul.inline.no-bullets
    each result in results.slice(1)
      li
        a(href="/result/"+result[0]._id) round #{result[0].round.number} &nbsp

h2= title

div 
  != partial('../rounds/current_round')

if (!currentRound || (currentRound.number == 1 && !currentRound.processed))
  p.error-text 
    strong note: 
    span initial round not yet processed
else if (results[0])
  .results
    != partial('result_list', {roundResults: results[0]})

