!= messages()

h2= title
p Invest in a team

form.new-investment(method="post",action="/investments")
  //input(type="hidden", name="csrf", value=csrf)

  p 
    label(for='investment[investor]') Investor
    &nbsp;
    - if (everyauth.loggedIn && everyauth.user.is_admin)
      select(id='investment[investor]', name='investment[investor]')
    -else
      span #{everyauth.user.username}      
  p 
    != partial('../rounds/current_round')
    
  div#invested Total Invested &nbsp
    span#total-invested 0%
        
  button.submit submit

  br(clear="all")

  div.people
    if(teams.length)
      each team, i in teams
        != partial('../teams/team_list', {team: team, investing: true, iterator: i})

  br(clear="all")