h2= title
p Invest in a team

form(method="post",action="/investments")
  //input(type="hidden", name="csrf", value=csrf)

  p 
    label(for='investment[user]') User
    &nbsp;
    - if (user)
      span #{user.username}
    -else
      select(id='investment[user]', name='investment[user]')
    
  p 
    label(for='investment[team]') Team
    &nbsp;
    select(id='investment[team]', name='investment[team]')
  
  p 
    label(for='investment[amount]') Amount 
    &nbsp;
    input(type="text", id="investment[amount]", name="investment[amount]")
  
  p 
    div#investment-rounds Round
      ul
        li
          input(type="radio", id="investment[round_1]", name="investment[round]", value="1")
          label(for='investment[round_1]') &nbsp Round 1 
        li
          input(type="radio", id="investment[round_2]", name="investment[round]", value="2")
          label(for='investment[round_2]') &nbsp Round 2 
        li
          input(type="radio", id="investment[round_3]", name="investment[round]", value="3")
          label(for='investment[round_3]') &nbsp Round 3 
      
  input(type="submit", value="Submit")
  &nbsp;
  a(href="/", title="[back]") [back]