h2= title

p allocate funds

form(method="post", action="/users/allocate")
  
  p 
    label(for='allocate[amount]') Amount 
    &nbsp;
    input(type="text", id="allocate[amount]", name="allocate[amount]")
  
  p
    label(for='allocate[label]') Label
    &nbsp;
    input(type="text", id="allocate[label]", name="allocate[label]")
  
  p 
    div.rounds Round
      ul
        li
          input(type="radio", id="allocate[round_1]", name="allocate[round]", value="1")
          label(for='allocate[round_1]') &nbsp Round 1 
        li
          input(type="radio", id="allocate[round_2]", name="allocate[round]", value="2")
          label(for='allocate[round_2]') &nbsp Round 2 
        li
          input(type="radio", id="allocate[round_3]", name="allocate[round]", value="3")
          label(for='allocate[round_3]') &nbsp Round 3    

  input(type="submit", value="Submit")

hr
  
a(href='/users', title="[back]") [back]