!= messages()

h2= title

p
  strong current round:
  if (currentRound)
    span #{currentRound.number}

p
  strong status: &nbsp
  if (currentRound && currentRound.is_open)
    span.open-round  open
  else
    span.closed-round closed

p
  strong funds this round
  if (currentRound && theUser.getFundsForRoundNbr(currentRound.number))
    span &nbsp $#{theUser.getFundsForRoundNbr(currentRound.number).toFixed(2)}
  else
    span &nbsp $0

table#user-transactions.inner-table
  tr
    th.header(colspan=3)
      &nbsp transactions
  tr
    th round
    th label
    th amount
   != partial('../transactions/transaction_list', {collection: theUser.transactions, as: 'transaction'})

table#user-investments.inner-table
  tr
    th.header(colspan=3)
      &nbsp investments
  tr
    th round
    th team
    th percentage

   != partial('../investments/investment_list', {collection: theUser.investments, as: 'investment'})
