h2= title

form(method="post", action="/users/"+theUser._id)
  input(name="_method", value='PUT', type='hidden')
  p
    label(for='user[username]') Username
    &nbsp;
    input(type='text', id='user[username]', name='user[username]', value=theUser.username)

  p
    label(for='user[email]') Email
    &nbsp;
    input(type='text', id='user[email]', name='user[email]', value=theUser.email)

  input(type="hidden", name="user[_id]", value=theUser._id)

  input(type="submit", value="Submit")

  hr
  a(class='destroy', href='/user/'+theUser._id, title="delete") Del
  &nbsp;
  a(href='/users', title="[back]") [back]
    
