h2= title

form(method="post", action="/users/"+user._id)
  input(name="_method", value='PUT', type='hidden')
  p
    label(for='user[username]') Username
    &nbsp;
    input(type='text', id='user[username]', name='user[username]', value=user.username)

  p
    label(for='user[email]') Email
    &nbsp;
    input(type='text', id='user[email]', name='user[email]', value=user.email)

  p 
    label(for='user[team]') Team
    &nbsp;
    select(id='user[team]', name='user[team]')
      

  input(type="hidden", name="user[_id]", value=user._id)

  input(type="submit", value="Submit")

  hr
  a(class='destroy', href='/user/'+user._id, title="delete") Del
  &nbsp;
  a(href='/users', title="[back]") [back]
    
