h2= title

form(method="post", action="/users/"+user._id)
  input(name="_method", value='PUT', type='hidden')
  p
    label Username
    &nbsp;
    input(type='text', name='user[username]', value=user.username)

  p
    label Email
    &nbsp;
    input(type='text', name='user[email]', value=user.email)

  input(type="hidden", name="user[_id]", value=user._id)

  input(type="submit", value="Submit")

  hr
  a(class='destroy', href='/user/'+user._id, title="delete") Del
  &nbsp;
  a(href='/users', title="[back]") [back]
    