!= messages()

h2= title

div#users
  - if(users.length)
    table.users_list
      tr
        th username
        th email
        th funds
        th team
        th actions 
      != partial('user_list', {collection: users, as: 'user'})
  - else
    #no-results No users found. Create one
      a(href='/users/new') here

hr
a(href='/users/new') create new 
| &nbsp
a(href='/users/allocate') allocate funds
