!= messages()

h2= title

div#users
  - if(users.length)
    table.users_list
      tr
        th username
        th email
        th actions 
      != partial('user_list', {collection: users, as: 'aUser'})
  - else
    #no-results No users found.
  
  a(href='/register') Create a user
