h2= title
p Create a new user

form(method="post",action="/users")
  //input(type="hidden", name="csrf", value=csrf)
  p 
    label(for='user[username]') Username
    br
    input(type="text", id="user[username]", name="user[username]")
  
  p
    label(for='user[email]') Email
    br
    input(type="text", id="user[email]", name="user[email]")

  input(type="submit", value="Submit")
  &nbsp;
  a(href="/users", title="[back]") [back]