!= messages()

h2= title

if (theUser.picture)
  img(src=theUser.picture)

br
a(href='/user/'+theUser._id+'/edit', title="edit") Edit Your Profile

h3 events competed in

if competitors.length
  ul.event-list.no-bullets
    each competitor in competitors
      li
        strong= competitor.event.name 
        if (competitor.team)
          &nbsp
          span member of: 
            strong= competitor.team.name

        div.date
          = competitor.event.date.toDateString() 
else 
  div no events yet      