!= messages()

h2 User details

p 
  strong username 
  &nbsp; #{user.username}
p
  strong email
  &nbsp; #{user.email}

p 
  strong team
  - if (user.team)
    &nbsp #{user.team.name}
  - else
    span#unassigned &nbsp none assigned 
p
  a(href='/user/'+user._id+'/edit', title="edit") Edit
  &nbsp;
  a(class='destroy', href='/user/'+user._id, title="delete") Delete
  &nbsp;
  a(href='/users', title="back") Back
