- var is_admin = (everyauth.loggedIn && everyauth.user.is_admin)

!= messages()

h2 User details

p 
  strong username 
  &nbsp; #{theUser.username}
p
  strong email
  &nbsp; #{theUser.email}

if (is_admin)
  p 
    a(href='/user/'+theUser._id+'/edit', title="edit") Edit
    &nbsp;
    a(class='destroy', href='/user/'+theUser._id, title="delete") Delete
    &nbsp;
    a(href='/users', title="back") Back
