tr(class="user")
  td.user_username 
    a(href='/user/'+aUser._id, title=aUser.username) #{aUser.username}
  td.user_email
    =aUser.email
  td
    a(href='/user/'+aUser._id+'/edit', title="edit") Edit
    &nbsp;
    a(class='destroy', href="/user/"+aUser._id, title="delete") Del