tr(class="user")
  td.user_username 
    a(href='/user/'+aUser._id, title=aUser.username) #{aUser.username}
  td.user_email
    =aUser.email
  td.user_events
    each competitor in aUser.competing_in
      =competitor.event
  td
    a(href='/user/'+aUser._id+'/edit', title="edit") Edit
    &nbsp;
    a(class='destroy', href="/user/"+aUser._id, title="delete") Del
    &nbsp;
  td
    form(method='post', action='/competitor/create')
      input(type='hidden', name='theUser[id]', value=aUser.id)
      button Join as Founder in Current Event
  td
    form(method='post', action='/investor/create')
      input(type='hidden', name='theUser[id]', value=aUser.id)
      button Join as Investor Current Event
  