!= messages()
- var is_admin = (everyauth.loggedIn && everyauth.user.is_admin)

h2= title

div.people#investors
  - if(investors.length)
      != partial('investor_list', {collection: investors, as: 'aInvestor'})
  - else
    #no-results No investors found.