!= messages()
- var is_admin = (everyauth.loggedIn && everyauth.user.is_admin)

h2= title

div#investors
  - if(investors.length)
    table.investors_list
      tr
        th event
        th username
        if (is_admin)
          th funds
        if (is_admin)
          th actions 
      != partial('investor_list', {collection: investors, as: 'aInvestor'})
  - else
    #no-results No investors found.