- currentRound = (currentRound)?currentRound:{number:'-',is_open:false}
- round = currentRound.number
div.rounds Current Round: #{round} &nbsp
  if (currentRound.is_open) 
    span.open-round (open)
  else 
    span.closed-round (closed)