!= messages()

h2= title

div control the rounds within tilt

form(method="post", action="/rounds")
  input(type="submit", value="append new round")

hr

if rounds.length
  ul#rounds
    != partial('round_list', {collection: rounds, as: 'round'})
else
  div#helper-text no rounds at the moment
end

hr
a(href="/rounds/reset", title="reset", data-message="are you sure???\n\n this will clear all transactions and reset tilt back to pregame settings???\n\n this cannot be undone.",class="confirm red-text") reset all
